body{
  background-color: #212226;
}

/* 
.topo{

  width: 100%;
  height: 100px;
  background-color: #E2877E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
  color: #FADBC5;
} */

 /* .conteudo{
  width: 100%;
  height: 400px;
  background-color: blue;
  flex-direction: ;
}  */



